<h1>We are learning Reactive Forms</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="signUp" (ngSubmit)="handleSubmit()">
        <div class="bg-primary text-white text-center p-3">
          <h1>Reactive Forms</h1>
        </div>
        <br>
        <div class="form-group">
          <label for="">Enter Name:</label>
          <input type="text" name="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="">Enter Age:</label>
          <input type="number" name="age" class="form-control" formControlName="age">
        </div>
        <div class="form-group">
          <label for="">Enter Email:</label>
          <input type="text" name="email" class="form-control"  formControlName="email">
        </div>
        <br>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
      
    </div>
  </div>
</div>